<doctype html>

<html ng-app="sandbox">
<head>
	<title>Sandbox</title>

	<link href="assets/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet" >
	<link href="assets/lib/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css" rel="stylesheet" >
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" >
	<link href="assets/css/main-style.css" rel="stylesheet" >

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="controllers/core.js"></script>
</head>

<body ng-controller="mainController" role="document">

	<% include navbar %>

	<div class="container theme-showcase" role="main">